.aboutPara {
  font-family: "Pioggia";
  width: 50vw;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 80px;
}

.aboutPara p {
  font-size: 2em;
  text-align: center;
}
.coffee3 {
  position: absolute;
  top: 105vh;
  left: 80vw;
}

@media(max-width: 768px){
  .coffee3{
    display: none;
  }
}