.mainBestSellerContainer {
  margin-top: 50px;
  /* width: 1530px; */
  height: 100vh;
  /* background-color: red; */
  font-family: "Neue-55roman";
  scroll-behavior: smooth;
}

.titles {
  display: flex;
  justify-content: space-around;
  gap: 15em;
}

.coffee-types {
  height: 25px;
  margin-left: 60px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  font-size: large;
  cursor: pointer;
}

.bestseller {
  margin-right: 60px;
  font-size: 35px;
  font-weight: 900;
}

.productsContainer {
  display: flex;
  gap: 120px;
  height: 100px;
  justify-content: center;
  /* margin-left: 85px; */
}

.productsContainer img {
  width: 350px;
  border-radius: 6px;
}

.product {
  width: min-content;
  padding: 9px 9px;
  border: 1px solid #ffffff45;
  height: 530px;
  border-radius: 15px;
}

.product p {
  font-size: 12px;
  font-weight: lighter;
  width: 250px;
  color: #fff6f68a;
}

.product h2 {
  font-weight: lighter;
}

.paise {
  font-size: 20px;
  color: #fff6f68a;
}

.priceAndAdd {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.priceAndAdd h5 {
  text-underline-offset: 5px;
}
