.mainBestSellerContainer {
  margin-top: 50px;
  height: 100vh;
  font-family: "Neue-55roman";
  scroll-behavior: smooth;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  gap: 15em;
}

.coffee-btn{
  display: flex;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #ffffffaa;
  font-family: "Neue-medium";
  font-size: 20px;
}

.coffee-btn:active {
  color: #fff;
}

.coffee-btn:focus{
  color: #fff;
}

.coffee-types {
  height: 25px;
  margin-left: 60px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  font-size: large;
  cursor: pointer;
}

.bestseller {
  margin-right: 60px;
  font-size: 35px;
  font-weight: 900;
  font-family: "Neue-black";
}

.productsContainer {
  display: flex;
  flex-direction: row;
  gap: 150px;
  height: 100px;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
}

.productsContainer img {
  width: 350px;
  border-radius: 6px;
}

.product {
  width: min-content;
  padding: 9px 9px;
  border: 1px solid #ffffff45;
  height: 530px;
  border-radius: 15px;
}

.product p {
  font-size: 12px;
  font-weight: lighter;
  width: 250px;
  color: #fff6f68a;
}

.product h2 {
  font-weight: lighter;
}

.paise {
  font-size: 20px;
  color: #fff6f68a;
}

.priceAndAdd {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.priceAndAdd h5 {
  text-underline-offset: 5px;
}
