.mainFooterContainer {
  font-family: "Neue-55roman";
  display: flex;
  justify-content: space-between;
  padding: 2em 4em;
  height: 75vh;
  gap: 40em;
  background-image: url(../assets/Images/Footer-images/Vector.png);
}

.mainFooterContainer h1 {
  font-weight: 100;
  font-size: 12em;
  font-family: "Robson-medium";
  line-height: 10px;
}

.rightFooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 9.5em;
  gap:20px;
}

.socialButtons, .firstTwoBtn, .secondTwoBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}

.socialButtons button {
  background: rgba(255, 255, 255, 0);
  color: white;
  font-size: 18px;
  border-radius: 35px;
  border: 0.5px solid rgba(255, 255, 255, 0.395);
  outline: none;
  width: min-content;
  padding: 0.6em;
  display: flex;
  justify-content: center;
}

.footerimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 17vh;
}

.footerimg img {
  width: 8em;
}

.leftFooterContainer p {
  width: 250px;
  color: #585858;
}

/* Add media queries for responsiveness */
@media (max-width: 812px) {
  .mainFooterContainer {
    flex-direction: row;
    position: relative;
    top: 14em;
    align-items: center;
    gap: 2em;
    padding: 2em;
    height: 120vh;
    background-image: url("../assets/Images/Footer-images/footerBgMobile.png") ;
    background-repeat: no-repeat;
    background-size: 50em 60em;
  }

  .leftFooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .leftFooterContainer h3, hr {
    width: 100%;
  }

  .leftFooterContainer p{
    width: 250px;
    color: #585858;
  }

  .rightFooterContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .socialButtons {
    flex-direction: row;
    gap: 1em;
    padding-right: 30px;
  }

  .footerimg {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }
}

.footercoffeebeans{
  position: absolute;
  top: 260rem;
  right: 1px;
}