.heroContainer {
  height: 40vh;
  /* color: #2e2e2e; */
  color: #f1f1f1;
  font-weight: 100;
  font-size: 35em;
  font-family: "Robson-medium";
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 10vh;
}
.wordContainer :hover {
  color: #c6c6c6;
  animation: ease-in-out;
  animation-duration: 1s;
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
}

.cursor img {
  display: none;
  width: 20em;
}

.cursor img.active {
  display: block;
}

.textSpan {
  cursor: pointer;
  line-height: 50%;
  height: 30vh;
}

.shopButtonsContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 78em;
  margin-top: 10em;
  height: 15vh;
  font-family: "Neue-55roman";
  text-underline-offset: 5px;
}

.coffee1,
.coffee2 {
  position: absolute;
  z-index: -5;
}
.coffee1 {
  top: -2vh;
  left: 70vw;
  opacity: 0.8;
}
.coffee2 {
  top: 25vh;
  opacity: 0.8;
}

.wordContainer {
  display: flex;
  justify-content: space-around;
}
.mobileAboutText {
  display: none;
}
/* @media only screen and (max-width: 600px) {
  .heroContainer{
  display: flex;

  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

*/
@media (max-width: 1200px) {
  .heroContainer {
    font-size: 35vw;
    gap: 20px;
  }
  .coffee2 {
    scale: 0.8;
    position: absolute;
    top: 0;
  }
  .coffee1 {
    display: none;
  }
  .shopButtonsContainer :nth-child(3) {
    display: none;
  }
  .shopButtonsContainer {
    display: inline;
    justify-content: center;
  }
  .mobileAboutText {
    display: none;
  }
}
@media (max-width: 900px) {
  .heroContainer {
    display: flex;
    height: 55vh;
    flex-direction: column;
    font-size: 300px;
    text-align: left;
    gap: 20px;
    margin-left: 30px;
    position: relative;
    top: 0;
    align-items: flex-start;
  }
  .shopButtonsContainer :nth-child(3) {
    display: none;
  }
  
  .shopButtonsContainer {
    display: inline;
    justify-content: center;
  }
  .shopButtonsContainer :nth-child(2) {
    text-align: center;
    font-size: 20px;
  }
  .mobileAboutText {
    display: flex;
    padding: 20px;
    width: 350px;
  }
}
