.heroContainer {
  height: 40vh;
  /* color: #2e2e2e; */
  color: #f1f1f1;
  font-weight: 100;
  font-size: clamp(10rem, 20vw, 35rem); /* Responsive font size */
  font-family: "Robson-medium";
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 3vw, 50px);
  margin-top: 10vh;
}
.wordContainer :hover {
  color: #c6c6c6;
  animation: ease-in-out;
  animation-duration: 1s;
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
}

.cursor img {
  display: none;
  width: clamp(15em, 20vw, 25em);
}

.cursor img.active {
  display: block;
}

.textSpan {
  cursor: pointer;
  line-height: 50%;
  height: 30vh;
}

.shopButtonsContainer {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 10em auto 0;
  height: 15vh;
  font-family: "Neue-55roman";
  text-underline-offset: 5px;
  padding: 0 5%;
}

.coffee1,
.coffee2 {
  position: absolute;
  z-index: -5;
  max-width: 100%;
  height: auto;
}
.coffee1 {
  top: -2vh;
  left: 70vw;
  opacity: 0.8;
  width: clamp(200px, 25vw, 500px);
}
.coffee2 {
  top: 25vh;
  opacity: 0.8;
  width: clamp(200px, 25vw, 500px);
}

.wordContainer {
  display: flex;
  justify-content: space-around;
}
.mobileAboutText {
  display: none;
}
/* @media only screen and (max-width: 600px) {
  .heroContainer{
  display: flex;

  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

*/
@media (max-width: 1200px) {
  .heroContainer {
    font-size: 35vw;
    gap: 20px;
  }
  .coffee2 {
    scale: 0.8;
    position: absolute;
    top: 0;
  }
  .coffee1 {
    display: none;
  }
  .shopButtonsContainer :nth-child(3) {
    display: none;
  }
  .shopButtonsContainer {
    display: inline;
    justify-content: center;
  }
  .mobileAboutText {
    display: none;
  }
}
@media (max-width: 900px) {
  .heroContainer {
    display: flex;
    height: 55vh;
    flex-direction: column;
    font-size: 300px;
    text-align: left;
    gap: 20px;
    margin-left: 30px;
    position: relative;
    top: 0;
    align-items: flex-start;
  }
  .shopButtonsContainer :nth-child(3) {
    display: none;
  }

  .shopButtonsContainer {
    display: inline;
    justify-content: center;
  }
  .shopButtonsContainer :nth-child(2) {
    text-align: center;
    font-size: 20px;
  }
  .mobileAboutText {
    display: flex;
    padding: 20px;
    width: 350px;
  }
}

/* Large screens */
@media (min-width: 1201px) {
  .heroContainer {
    height: 45vh;
  }
  .coffee1 {
    top: 0;
    left: 75vw;
  }
  .coffee2 {
    top: 30vh;
    left: 5vw;
  }
}

/* Extra large screens */
@media (min-width: 1601px) {
  .heroContainer {
    height: 50vh;
    margin-top: 5vh;
  }
  .coffee1 {
    top: 5vh;
    left: 80vw;
  }
  .coffee2 {
    top: 35vh;
    left: 10vw;
  }
  .textSpan {
    height: 35vh;
  }
}

/* Ultra wide screens */
@media (min-width: 1921px) {
  .heroContainer {
    height: 55vh;
    margin-top: 5vh;
    font-size: clamp(
      10rem,
      15vw,
      30rem
    ); /* Adjusted font size for ultra-wide */
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;
  }
  .coffee1 {
    top: 10vh;
    left: 70%;
    width: clamp(250px, 20vw, 450px); /* Adjusted size */
  }
  .coffee2 {
    top: 40vh;
    left: 15%;
    width: clamp(250px, 20vw, 450px); /* Adjusted size */
  }
  .textSpan {
    height: 40vh;
  }
  .shopButtonsContainer {
    margin-top: 5em;
    max-width: 80%; /* Reduced width for better proportions */
    font-size: 1.1em;
  }
}

/* Super ultra wide screens */
@media (min-width: 2401px) {
  .heroContainer {
    height: 60vh;
    margin-top: 5vh;
    font-size: clamp(15rem, 12vw, 35rem); /* Further adjusted font size */
    gap: clamp(30px, 2vw, 60px); /* Increased gap between words */
    max-width: 2800px;
  }
  .coffee1 {
    top: 15vh;
    left: 70%;
    width: clamp(300px, 18vw, 500px); /* Adjusted size */
  }
  .coffee2 {
    top: 45vh;
    left: 18%;
    width: clamp(300px, 18vw, 500px); /* Adjusted size */
  }
  .textSpan {
    height: 45vh;
  }
  .shopButtonsContainer {
    margin-top: 6em;
    max-width: 70%; /* Further reduced width for better proportions */
    font-size: 1.2em; /* Slightly larger text */
  }
}

/* Super ultra wide screens */
@media (min-width: 3440px) {
  .heroContainer {
    height: 65vh;
    margin-top: 5vh;
    font-size: clamp(18rem, 10vw, 40rem); /* Further adjusted font size */
    gap: clamp(40px, 2vw, 80px); /* Increased gap between words */
    max-width: 3200px;
  }
  .coffee1 {
    top: 15vh;
    left: 70%;
    width: clamp(350px, 15vw, 600px); /* Adjusted size */
  }
  .coffee2 {
    top: 45vh;
    left: 20%;
    width: clamp(350px, 15vw, 600px); /* Adjusted size */
  }
  .textSpan {
    height: 50vh;
  }
  .shopButtonsContainer {
    margin-top: 7em;
    max-width: 60%; /* Further reduced width for better proportions */
    font-size: 1.4em; /* Larger text */
    gap: 3em;
  }
}
