.heroContainer {
  height: 40vh;
  /* color: #2e2e2e; */
  color: #565555;
  font-weight: 100;
  font-size: 35em;
  font-family: "Robson-medium";
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10vh;
}
.heroContainer :hover {
  color: #d7d5d5;
  animation: ease-in-out;
  animation-duration: 1s;
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
}

.cursor img {
  display: none;
  width: 20em;
}

.cursor img.active {
  display: block;
}

.textSpan {
  cursor: pointer;
  line-height: 50%;
  height: 30vh;
}

.shopButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 78em;
  margin-top: 10em;
  height: 15vh;
  font-family: "Neue-55roman";
  text-underline-offset: 5px;
}

.coffee1,
.coffee2 {
  position: absolute;
  z-index: -5;
}
.coffee1 {
  top: -2vh;
  left: 70vw;
}
.coffee2 {
  top: 25vh;
}
