.heroContainer {
  line-height: 1;
  height: 60vh;
  color: #2e2e2e;
  font-weight: 100;
  text-align: center;
  font-size: 35vw;
  /* background-color: red; */
  font-family: "Robson-medium";
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.heroContainer :hover {
  color: #d7d5d5;
  animation: ease-in-out;
  animation-duration: 1s;
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
}

.cursor img {
  display: none;
  width: 20em;
}

.cursor img.active {
  display: block;
}



.textSpan {
  cursor: pointer;
}

.shopButtonsContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 9em;
  padding-right: 11em;
  margin-top: 8em;
  height: 15vh;
  font-family: "Neue-55roman";
  text-underline-offset: 5px;
}
