.image-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 7em;
}

.Merchimage {
  position: absolute;
  height: 300px;
  width: 500px;
  opacity: 0;
  transform: scale(0);
  object-fit: contain;
}

.Merch {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  font-size: 35px;
  font-weight: 900;
  font-family: "Neue-medium";
}

.image2 {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.image3 {
  object-fit: cover;
  width: 400px;
  height: 350px;
}

.leftMerchText {
  position: relative;
  top: 1em;
  font-size: 18px;
  padding-left: 50px;
  width: 250px;
  font-family: "Neue-55roman";
}
