.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  font-family: "Neue-55roman";
  z-index: 10000;
  position: relative;
  margin-top: 7px;
  /* background-color: red; */
  min-width: 100%;
}

.leftContainer {
  padding-left: 40px;
}

.rightContainer {
  padding-right: 40px;
}

.logo {
  width: 140px;
  cursor: pointer;
}

ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: lighter;
  cursor: pointer;
  padding-right: 10px;
}

.navbarTitle {
  height: 40px;
}

.rightContainer {
  display: flex;
  justify-content: space-around;
}

.search-box {
  height: 35px;
  display: flex;
  align-items: center;
  background: #ffffff00;
  padding: 0px 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 20px 15px;
}

.search-box img {
  width: 22px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  color: #d1d1d1;
  border: 0;
  outline: none;
  font-size: 18px;
  max-width: 100px;
}

.search-box input::placeholder {
  color: #ffffff5e;
  font-size: 16px;
}

.cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  margin: 20px 15px;
}

.cart-div img {
  width: 25px;
}

.dropdownContainer {
  display: none;
}

.shop:hover .dropdownContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: rgba(84, 59, 27, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(84, 59, 27, 0.188);
  z-index: 10000;
  font-family: "Neue-55roman";
}

.column-1 ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#login {
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 20px;
  text-underline-offset: 5px;
}

.dropdown-products ul {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 7px;
  font-weight: 900;
}

.description {
  font-size: 12px;
  margin-bottom: 25px;
  font-weight: 100;
}

.menuContainer {
  display: none;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .leftContainer,
  .rightContainer ul,
  .rightContainer .search-box {
    display: none;
  }

  .navbarContainer {
    justify-content: space-between;
    padding: 10px;
    color: #f1f1f1;
  }

  .menuContainer {
    display: flex;
    align-items: center;
  }

  .menu {
    position: fixed;
    top: 40px;
    left: 15em;

    /* height: 100%; */
    overflow-x: hidden !important ;
    width: 30rem;
    background: rgba(84, 59, 27, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(84, 59, 27, 0.188);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1000;
    font-family: "Neue-black";
  }

  .menu ul {
    list-style: none;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .menu ul li {
    margin: 20px 0;
    font-size: 24px;
    cursor: pointer;
  }

  .logo {
    margin-left: 20px;
  }

  .cart-div {
    margin-right: 20px;
  }

  .hamburger-react {
    z-index: 1001;
  }
}
