#image-track {
  display: flex;
  position: relative;
  gap: 10vmin;
  margin-top: 50vh;
  user-select: none;
  transform: translate(0%, -50%);
  user-select: none;
}

#image-track:hover {
  cursor: grab;
}
#image-track > .link > .image:hover {
  cursor: grab;
}

#image-track > .link > .image {
  scale: 1.2;
  width: 30vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 100% center;
}
.lower-arrows-body {
  position: absolute;
  bottom: -108em;
  left: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow1 {
  position: relative;
  width: 60px;
  height: 60px;
  border-top: 12px solid #fff;
  border-left: 12px solid #fff;
  transform: rotate(-45deg);
  animation: arrow-load 2.2s infinite;
}
.arrow1:nth-child(1) {
  left: 25px;
  animation-delay: -0.4s;
}

.arrow1:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow1:nth-child(3) {
  right: 25px;
}
@keyframes arrow-load {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(60px, 60px);
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translate(-60px, -60px);
  }
}
