/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
  cursor: pointer !important;
}
/* Custom ScrollBar Ends */
* {
  cursor: none;
}

/* Robson Font Family */
@font-face {
  font-family: "Robson-regular";
  src: url("./assets/fonts/Robson/robson-regular.otf") format("opentype");
}
@font-face {
  font-family: "Robson-semibold";
  src: url("./assets/fonts/Robson/robson-semibold.otf") format("opentype");
}
@font-face {
  font-family: "Robson-extrabold";
  src: url("./assets/fonts/Robson/robson-extrabold.otf") format("opentype");
}
@font-face {
  font-family: "Robson-light";
  src: url("./assets/fonts/Robson/robson-light.otf") format("opentype");
}
@font-face {
  font-family: "Robson-medium";
  src: url("./assets/fonts/Robson/robson-medium.otf") format("opentype");
}
@font-face {
  font-family: "Robson-thin";
  src: url("./assets/fonts/Robson/robson-thin.otf") format("opentype");
}
@font-face {
  font-family: "Robson-extralight";
  src: url("./assets/fonts/Robson/robson-extralight.otf") format("opentype");
}
@font-face {
  font-family: "Robson-bold";
  src: url("./assets/fonts/Robson/robson-bold.otf") format("opentype");
}
/* Robson Font Family */

/* Neue Font Family */
@font-face {
  font-family: "Neue-black";
  src: url("./assets/fonts/Neue/NeueHaasDisplayBlack.ttf") format("opentype");
}
@font-face {
  font-family: "Neue-bold";
  src: url("./assets/fonts/Neue/NeueHaasDisplayBold.ttf") format("opentype");
}
@font-face {
  font-family: "Neue-medium";
  src: url("./assets/fonts/Neue/NeueHaasDisplayMedium.ttf") format("opentype");
}
@font-face {
  font-family: "Neue-light";
  src: url("./assets/fonts/Neue/NeueHaasDisplayLight.ttf") format("opentype");
}
@font-face {
  font-family: "Neue-55roman";
  src: url("./assets/fonts/Neue/NeueHaasDisplayRoman.ttf") format("opentype");
}
/* Neue Font Family */

/*Pioggia Font Family */
@font-face {
  font-family: "Pioggia";
  src: url("./assets/fonts/Pioggia/Pioggia.otf") format("opentype");
}
/*Pioggia Font Family */

body {
  background-image: url("./assets/Images/bg.png");
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  user-select: none;
}
html {
  overflow-x: hidden;
  width: 100%;
}
